<main *ngIf="weatherMain">
  <span>{{ city }}</span>
  <span>{{ weatherMain?.current?.temp }}&deg;</span>
  <span>{{ weatherMain?.current?.weather[0]?.description }}</span>
  <span
    >H:{{ weatherMain?.daily[0]?.temp.max }}&deg; L:{{
      weatherMain?.daily[0]?.temp.min
    }}&deg;
  </span>
  <!-- <ng-container class="card-container">
    
  </ng-container> -->
</main>
<section>
<div class="card-container">
  <div class="card" *ngFor="let unit of weatherUnits">
    <div class="card-content">
      <span class="card-icon"></span>
      <p class="card-title">{{ unit.title }}</p>
      <p class="card-value">{{ unit.value }}</p>
      <p class="card-desc">high pressure</p>
    </div>
  </div>
</div>

<div class="forecast-container">
  <h3>7-DAY FORECAST</h3>
  <div class="forecast-card" *ngFor="let unit of weatherMain?.daily">
    <div class="forecast-content">
      <p>{{unit.dt | slice:0:3 }}</p>
      <img class="forecast-weather-icon" [src]="'https://openweathermap.org/img/wn/' + unit.weather[0].icon + '.png'"/>
      <p class="temp-max">{{ unit.temp.max }}&deg;</p>
      <p class="temp-min">{{ unit.temp.min }}&deg;</p>
    </div>
  </div>
</div>
</section>